/* About us page */
.main-about-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-self: center;
}
.about {
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  grid-gap: 20px;
  padding: 0px 10px;
  margin: 0 auto;
}
.about-text h1 {
  padding: 8px;
  margin-bottom: 10px;
  border-bottom: 5px solid var(--red-color);
}

.about-text p {
  font-size: 1.1rem;
  line-height: 30px;
  padding: 5px;
}
.about-text {
  padding: 20px;
  max-width: 100%;
  margin: auto;
  background-color: var(--purpleblack-color);
  border-radius: 16px;
  border-right: var(--yellow-color) 3px solid;
  border-top: var(--red-color) 3px solid;
}

figure {
  justify-self: center;
}
.about-image img {
  max-width: 100%;
}

.adjectives {
  max-width: 1000px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin: 0 auto;
}
.adjvective-content {
  width: 160px;
  border-radius: 50%;
  padding: 30px;
  background: var(--yellow-color);
  font-size: 2rem;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  text-transform: capitalize;
  animation: slideleft 1s forwards;
  transform: translateX(-350px);
}
@keyframes slideleft {
  0% {
    transform: translateX(-350px);
  }
  100% {
    transform: translateX(0px);
  }
}
.adjvective-content:first-child {
  background: var(--purple-color);
}
.adjvective-content:nth-of-type(even) {
  background-color: var(--red-color);
}
