/*homepage */

.promotion-home {
  display: grid;
  grid-template-columns: 30% 60%;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.promotion-text p {
  line-height: 2rem;
  font-weight: 500;
  font-size: 1.5rem;
  animation: slideright 1s forwards;
  transform: translatex(-700px);
}
@keyframes slideright {
  0% {
    transform: translatex(-700px);
  }
  100% {
    transform: translatex(0px);
  }
}

.free-trial {
  display: block;
  width: 140px;
  margin-top: 30px;
}
.free-trial:hover {
  transform: scale(1.1);
  transition: 0.7s ease-in;
}

.video-player {
  animation: slide 1s ease-in forwards;
  opacity: 0;
  transition: 1s ease-in;
  max-width: 90%;
  padding: 0px 10px;
}
@keyframes slide {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
