/*join now page*/

.plan-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 650px;
  grid-gap: 30px;
  margin: 0 auto;
  align-items: center;
}
.plan-container h1 {
  grid-column: 1 / -1;
  text-align: center;
}

.pro,
.premium {
  padding: 20px;
  border-radius: 8px;
  text-align: left;
  width: 300px;
  position: relative;
}
.pro h1,
.premium h1 {
  padding-bottom: 5px;
  text-decoration: underline;
  text-align: left;
}
.pro ul,
.premium ul {
  list-style-type: none;
  padding: 5px;
}

.pro li,
.premium li {
  padding: 8px;
  text-decoration: none;
}
.join .cta {
  margin-top: 10px;
}
.pro:hover,
.premium:hover {
  border: 3px solid var(--purpleblack-color);
  transition: 0.5s ease-in;
  opacity: 0.8;
}
.pro {
  animation: slideleft 1s ease-in-out forwards;
  transform: translateX(-300px);
  opacity: 0;
  transition: 1s;
  background-color: var(--purple-color);
}
.premium {
  animation: slideright 1s ease-in-out forwards;
  transform: translateX(300px);
  transition: 1s;
  background-color: var(--purple-color);
  opacity: 0;
}
@keyframes slideleft {
  0% {
    transform: translateX(-300px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideright {
  0% {
    transform: translateX(300px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
