/*join now page*/

.plan-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 650px;
  grid-gap: 30px;
  margin: 0 auto;
  align-items: center;
}
.plan-container h1 {
  grid-column: 1 / -1;
  color: white;
  text-align: center;
}
.form h1 {
  color: #040016;
  text-align: left;
}
.pro,
.premium {
  opacity: 0.8;
  color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: left;
  width: 300px;
  position: relative;
}
.pro h1,
.premium h1 {
  padding-bottom: 5px;
  text-decoration: underline;
  text-align: left;
}
.pro ul,
.premium ul {
  list-style-type: none;
  padding: 5px;
}

.pro li,
.premium li {
  padding: 8px;
  text-decoration: none;
}
.join .cta {
  margin-top: 20px;
}
.pro:hover,
.premium:hover {
  border: 3px solid black;
  color: white;
  transition: 1s ease-in;
  opacity: 0.8;
}
.pro {
  animation: slideleft 1s ease-in-out forwards;
  transform: translateX(-800px);
  transition: 1s;
  background-color: #540e73;
}
.premium {
  animation: slideright 1s ease-in-out forwards;
  transform: translateX(800px);
  transition: 1s;
  background-color: #540e73;
}
@keyframes slideleft {
  0% {
    transform: translateX(-800px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes slideright {
  0% {
    transform: translateX(800px);
  }

  100% {
    transform: translateX(0px);
  }
}
