/*media queries mobile and tablet */

@media (max-width: 670px) {
  /*global header and footer */
  nav {
    display: none;
  }
  .hamburger {
    display: grid;
  }

  header {
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: flex-start;
  }

  nav ul {
    display: grid;
    grid-template-columns: 1fr;
  }

  nav li {
    text-align: center;
  }

  main {
    text-align: center;
    /* padding: 10px; */
  }
  /* contact button on footer */
  .contact-div {
 position: relative;
   right: 0px;
  }

/* homepage */
.banner {
  height: 40vh;
}
.parallax {
  min-height: 30vh;
}
.promotion-home,
.about {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  padding: 10px;
}
.promotion-text a {
  margin: 30px auto;
}
.adjectives {
  max-width: 300px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.adjvective-content {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 10px;
  font-size: 1em;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.parallax {
  min-height: 60vh;
}

/* movies page */
.movies {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}
/* join now */
.plan-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-top: 80px;
}
.join {
  max-width: 350px;
}
.pro,
.premium {
  max-width: max-content;
  margin: 0 auto;
}
/*about-us page*/
.adjectives {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* free-trial-container */

.free-trial-container {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

/* movie-specific page */
.player-description {
  display: flex;
  flex-direction: column;
}
.movie-description {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, auto);
  text-align: left;
}
.movie-description a {
  grid-column: 3 / 4;
  grid-row: 1 / -1;
  justify-self: right;
}
.movie-description p {
  grid-column: 1 /4;
}

.movie-description h1 {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.rating {
  grid-column: 2 / 1;
  grid-row: 2 / 2;
}

.movies-sub {
  display: grid;
  grid-template-columns: repeat(1, auto);
}
/* overlay  */
.payment {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  gap: 20px;
  align-items: center;
}
.overlay {
  align-items: flex-start;
}

/*media queries medium sized screen */

@media (min-width: 671px) and (max-width: 859px) {
  /* homepage */
  .video-player {
    margin: auto;
  }
  .banner {
    height: 60vh;
  }
  .adjectives {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .promotion-home,
  .about {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    text-align: center;
  }
  .promotion-text {
    text-align: center;
    font-size: 1em;
    padding: 10px 20px;
  }
  .promotion-text a {
    margin: 20px auto auto auto;
  }
  /* about-us page */

  .about-text {
    text-align: center;
    font-size: 1em;
    padding: 10px;
  }
  .about-image img {
    max-width: 100%;
  }

  /* movies page */
  .movies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 5px;
  }
  /* movie-specific page */
  .player-description {
    display: flex;
    flex-direction: column;
  }
  .movie-description {
    display: grid;
    grid-template-rows: repeat(2, auto);
  }
  .movie-description a {
    align-self: flex-start;
    grid-column: 2 / 3;
    grid-row: 1 / -1;
  }
  .movie-description h1 {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  .rating {
    grid-column: 2 / 1;
    grid-row: 2 / 2;
  }
  .movies-sub {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin: 0 auto;
  }

  /* movie specific overlay */
  .overlay {
    justify-content: center;
    align-items: top;
  }
}
@media (min-width: 671px) and (max-width: 769px) {
  header {
    display: flex;
    flex-direction: column;
  }
}
