/*media queries mobile and tablet */

@media (max-width: 670px) {
  /*global header and footer */
  nav {
    display: none;
  }
  .fa-bars {
    display: grid;
    display: block;
  }

  header {
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: flex-start;
  }

  nav ul {
    display: grid;
    grid-template-columns: 1fr;
  }

  nav li {
    text-align: center;
  }

  main {
    text-align: center;
    padding: 10px;
  }
  /* homepage */
  .promotion-home,
  .about {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
  .promotion-text a {
    margin: 30px auto;
  }
  /* movies page */
  .movies {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }
  /* join now */
  .plan-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
.join {
  max-width: 350px;
}
  .pro,
  .premium {
    max-width: max-content;
    margin: 0 auto;
  }
  /*about-us page*/
  .adjectives {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /* movie-specific page */
  .player-description {
    display: flex;
    flex-direction: column;
  }
  .movie-description {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, auto);
    text-align: left;
  }
  .movie-description a {
    grid-column: 3 / 4;
    grid-row: 1 / -1;
    justify-self: right;
  }
  .movie-description p {
    grid-column: 1 /4;
  }

  .movie-description h1 {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  .rating {
    grid-column: 2 / 1;
    grid-row: 2 / 2;
  }

  .movies-sub {
    display: grid;
    grid-template-columns: repeat(1, auto);
  }
  /* overlay  */
  .payment {
    
    display: grid;
    grid-template-columns: auto ;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
/*media queries medium sized screen */

@media (min-width: 671px) and (max-width: 859px) {
  /* homepage */
  .video-player {
    margin: auto;
  }
  .promotion-home,
  .about {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    text-align: center;
  }
  .promotion-text {
    text-align: center;
    font-size: 1em;
    padding: 10px 20px;
  }
  .promotion-text a {
    margin: 20px auto auto auto;
  }
  /* about-us page */

  .about-text {
    text-align: center;
    font-size: 1em;
    padding: 10px;
  }
  .about-image img {
    max-width: 100%;
  }

  /* movies page */
  .movies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 5px;
  }
  /* movie-specific page */
  .player-description {
    display: flex;
    flex-direction: column;
  }
  .movie-description {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, auto);
  }
  .movie-description a {
    align-self: flex-start;
    grid-column: 2 / 3;
    grid-row: 1 / -1;
  }
  .movie-description h1 {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  .rating {
    grid-column: 2 / 1;
    grid-row: 2 / 2;
  }
  .movies-sub {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin: 0 auto;
  }
}
