.movies-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.movies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-direction: column;
  align-items: center;
  justify-self: center;
  max-width: 1000px;
  gap: 20px;
  animation: dropdown 1s forwards;
  transform: translateX(-1600px);
  padding: 10px;
  transition: 0.5s transform;
  margin-top: 80px;
}
.movies img {
  width: 100%;
  transition: 0.5s transform;
}
.search-container {
  display: flex;
  gap: 2px;
  margin-top: 80px;
  text-align: left;
  align-items: center;
  justify-content: center;
}

.search {
  padding: 12px;
  margin-top: 0;
  outline: none;
  font-size: 1em;
  background: none;
  border: 2px solid white;
  color: white;
  border-radius: 8px;
}

.search-button {
  border: 1px solid var(--yellow-color);
  color: white;
  font-size: 1.2em;
  background: var(--yellow-color);
  padding: 8px 16px;
  width: 100px;
  border-radius: 8px;
}
.search-button:hover {
  cursor: pointer;
}

.center {
  text-align: center;
  border: 1px solid var(--red-color);
  font-size: 1.5em;
  padding: 8px;
  display: block;
  grid-column: 2/3;
}
.movie :hover {
  transform: scale(1.1);
}
.movies h2 {
  line-height: 1.2em;
}

@keyframes dropdown {
  0% {
    transform: translateX(-1600px);
  }

  100% {
    transform: translateX(0px);
  }
}
.movie:nth-of-type(odd) {
  transform: translateY(1000px);
  animation: slideup 1s forwards;
}
@keyframes slideup {
  0% {
    transform: translatey(1000px);
  }

  100% {
    transform: translatey(0px);
  }
}
