.payment {
  max-width: 650px;
  display: flex;
  justify-content: center;
  margin: 80px auto;
  gap: 20px;
  align-items: center;
}
.result-container {
  padding: 10px;
  max-width: 300px;
}
.result-container h3 {
  margin-top: 20px;
}
.result-container p {
  text-align: left;
  margin-top: 10px;
  color: var(--yellow-color);
}
.result-container img {
  width: 100%;
}
.result-container {
  border: 2px solid var(--red-color);
}
.result-container p {
  line-height: 1.2em;
}

.result {
  border: 4px solid red;
  padding: 16px;
}
