.free-trial-container {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 550px;
  grid-gap: 30px;
  margin: 0 auto;
  align-items: center;
}
.free-trial .cta {
  margin-top: 20px;
}
.free-trial-li {
  font-family: "josefin", Arial, Helvetica, sans-serif;
  background-color: var(--purple-color);
  opacity: 0.8;
  padding: 20px;
  border-radius: 8px;
  text-align: left;
  max-width: fit-content;
  position: relative;
  margin: 0 auto;
  animation: skewin 1s forwards;
  transform: skew(90deg);
}
@keyframes skewin {
  0% {
    transform: skew(90deg);
  }
  100% {
    transform: skew(0deg);
  }
}
.free-trial-li ul {
  list-style-type: none;
  padding: 5px;
}
.free-trial-li li {
  padding: 10px;
}
.free-trial-li h1 {
  text-decoration: underline;
}
