/*global styling */

/* color pallet 
#F20746 : red
#540E73 :purple
#D9A407 : dark yellow
#040016 : purple black 
#F25116 : orange 
#090909 : (rgb 9 ,9 ,9, 75%)*/

@font-face {
  font-family: "josefin";
  src: url("../fonts/josefin.ttf") format("truetype");
}
@font-face {
  font-family: "cuprum";
  src: url("../fonts/Cuprum-VariableFont_wght.ttf") format("truetype");
}

html {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
body {
  background-image: url(../images/overlay.jpg);
  background: cover no-repeat;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  gap: 20px;
}
header {
  grid-area: header;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
input {
  font-family: "josefin", Arial, Helvetica, sans-serif;
  color: white;
}

/*global header and footer */
header {
  font-family: "cuprum", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: 100vw;
  color: white;
  letter-spacing: 2px;
  font-size: 0.9em;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex: 1;
}

header :last-child {
  flex: 1 0 auto;
  text-align: right;
  flex-wrap: wrap;
}

#logo {
  padding: 2px;
  max-width: 7em;
  max-height: 3.5em;
  background-color: whitesmoke;
  margin-right: 30px;
}

nav ul {
  display: flex;
  flex: 1;
  padding: 8px;
}

nav li,
nav a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 8px;
}

nav li:hover,
.cta:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in;
}

.cta {
  font-family: "cuprum", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-decoration: none;
  background: #d9a407;
  font-weight: 500;
  border: none;
  border-radius: 32px;
  color: white;
  padding: 8px 12px;
  letter-spacing: 2px;
  font-size: 0.9em;
}

.active {
  background-color: #f20746;
  border-radius: 16px;
  letter-spacing: 2px;
  text-align: center;
}
.active.cta {
  background-color: #f20746;
  color: white;
  letter-spacing: 2px;
  text-align: center;
}
.active:hover {
  cursor: default;
  letter-spacing: 2px;
}

.hamburger {
  position: absolute;
  right: 20px;
  top: 20px;
  display: none;
}

#hamburger-menu {
  display: none;
}
#hamburger-menu:checked ~ nav {
  display: none;
}

footer {
  width: 100vw;
  font-family: "cuprum";
  color: white;
  letter-spacing: 1px;
  font-size: 0.7em;
  padding: 10px;
}

/*homepage */
.cta-freetrial {
  text-decoration: none;
  background: #d9a407;
  font-weight: bold;
  border: none;
  border-radius: 32px;
  color: white;
  padding: 8px 24px;
  letter-spacing: 1px;
  font-size: 0.9em;
}

.promotion-home {
  color: white;
  display: grid;
  grid-template-columns: 30% 60%;
  align-items: center;
  justify-content: center;
}

.promotion-text p {
  line-height: 30px;
  font-weight: 500;
  font-size: 1.5em;
}

.promotion_img img {
  max-width: 100%;
}

.promotion-text a {
  display: block;
  width: 140px;
  margin-top: 30px;
}

/* About us page */

.about {
  width: 100vw;
  display: grid;
  grid-template-columns: 40% 50%;
  align-items: center;
  justify-content: center;
  grid-gap: 20px;
}
.about-text h1 {
  padding-bottom: 10px;
  color: white;
}

.about-text p {
  font-size: 1.2em;
  line-height: 25px;
  padding: 10px;
  color: white;
}
.about-image img {
  width: 100%;
  margin: o;
}

/* sign in page */
.form {
  background-color: white;
  padding: 16px;
  color: black;
  margin: 0 auto;
  text-align: left;
  width: 300px;
  height: 350px;
  border-radius: 8px;
  align-content: center;
}

label {
  display: block;
  padding: 8px;
}
.form h2 {
  color: #040016;
  text-align: left;
}
.input {
  display: block;
  padding: 16px;
  text-align: left;
  width: 100%;
  background-color: #040016;
  color: white;
  border-radius: 8px;
}
.form p {
  text-align: center;
  color: gray;
  font-size: 0.9em;
  padding-bottom: 20px;
}

/*join now page*/

.plan-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 550px;
  grid-gap: 30px;
  margin: 0 auto;
  align-items: center;
}
.plan-container h1 {
  grid-column: 1 / -1;
  color: white;
  text-align: center;
}

.pro,
.premium {
  font-family: "josefin", Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
  color: black;
  padding: 20px;
  border-radius: 8px;
  text-align: left;
  width: 250px;
}
.pro h3,
.premium h3 {
  padding-bottom: 5px;
  color: #040016;
}
.pro ul,
.premium ul {
  list-style-type: none;
  padding: 5px;
}

.pro li,
.premium li {
  padding: 8px;
  text-decoration: none;
}
.form:last-child {
  text-align: center;
}
/*Documentry movie page */
.documentry {
  display: grid;
  grid-template-columns: 25% 75%;
  width: 100vw;
  align-items: center;
}
.movie {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 80% 20%;
  padding: 10px;
  grid-gap: 10px;
}
.player img {
  max-width: 100%;
  max-height: 100%;
}
.player {
  grid-row: 1 / 3;
}
.movie-description {
  padding: 5px;
}
.movie-description p {
  line-height: 20px;
  padding: 20px 20px 20px 0px;
}

.movie-description a {
  display: block;
  background-color: #540e73;
  width: 7em;
  text-align: center;
  border-radius: 8px;
  margin: 0 auto;
}

/*media queries mobile and tablet */

@media (max-width: 670px) {
  nav {
    display: none;
  }
  #hamburger-menu:checked ~ nav {
    display: block;
  }
  .hamburger {
    display: grid;
  }

  header {
    display: grid;
    grid-template-columns: 20% 60%;
  }

  nav ul {
    display: grid;
    grid-template-columns: 1fr;
  }

  nav li,
  header :last-child {
    text-align: center;
  }

  main {
    text-align: center;
    padding: 10px;
  }
  .promotion-home,
  .about {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
  .promotion-text a {
    margin: 30px auto;
  }

  .plan-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .pro,
  .premium {
    max-width: max-content;
    margin: 0 auto;
  }
}
/*media queries medium sized screen */

@media (min-width: 671px) and (max-width: 859px) {
  .promotion-home,
  .about {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
  }
  .promotion-text {
    text-align: center;
    font-size: 1em;
    padding: 10px;
  }

  .about-text {
    text-align: center;
    font-size: 1em;
    padding: 10px;
  }
  .promotion-text a {
    margin: 20px auto auto auto;
  }
}
