/*global styling */

/* color pallet 
#F20746 : red
#540E73 :purple
#D9A407 : dark yellow
#040016 : purple black 
#736f31: dark brown 
#a69f16: light brown
#090909 : (rgb 9 ,9 ,9, 75%)*/

@font-face {
  font-family: "josefin";
  src: url("../fonts/josefin.ttf") format("truetype");
}
@font-face {
  font-family: "cuprum";
  src: url("../fonts/Cuprum-VariableFont_wght.ttf") format("truetype");
}

html {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

body {
  background: url(../images/overlay.jpg) no-repeat;
  background-size: cover;
  max-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  gap: 20px;
  color: white;
  overflow-x: hidden;
}
header {
  grid-area: header;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
main,
input {
  font-family: "josefin", Arial, Helvetica, sans-serif;
}

/*global header and footer */
header {
  font-family: "cuprum", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  max-width: 100vw;
  letter-spacing: 2px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  background-color: #040016;
  flex-wrap: nowrap;
}

header :last-child {
  flex: 1 0 auto;
  text-align: right;
  flex-wrap: wrap;
}

#logo {
  padding: 8px;
  max-width: 7rem;
  background-color: whitesmoke;
  margin-right: 30px;
}
nav ul {
  display: flex;
  flex: 1;
  padding-right: 6px;
}

nav li,
nav a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 1rem;
}

nav a:hover {
  transform: translatey(3px) scale(1.1);
  transition: 1.5s ease;
}
nav li:nth-child(even) {
  animation: drop 0.7s forwards;
  transform: translatey(-80px);
}
@keyframes drop {
  0% {
    transform: translatey(-80px);
  }
  100% {
    transform: translatey(0px);
  }
}
nav li:nth-child(odd) {
  animation: drop 1s forwards;
  transform: translatey(-80px);
  animation-delay: 0.1s;
}
@keyframes drop {
  0% {
    transform: translatey(-80px);
  }
  100% {
    transform: translatey(0px);
  }
}
.cta {
  font-family: "cuprum", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-decoration: none;
  background: #d9a407;
  border: none;
  border-radius: 8px;
  color: #040016;
  padding: 10px 12px;
  letter-spacing: 1px;
  font-size: 1rem;
  text-align: center;
}

.active {
  background-color: #f20746;
  border-radius: 8px;
  letter-spacing: 2px;
  text-align: center;
}
.active.cta {
  background-color: #f20746;
  letter-spacing: 2px;
  color: aliceblue;
}
.active:hover {
  cursor: default;
}

.hamburger {
  position: absolute;
  right: 20px;
  top: 20px;
  display: none;
}

#hamburger-menu {
  display: none;
}
#hamburger-menu:checked ~ nav {
  display: none;
}

footer {
  max-width: 100vw;
  font-family: "cuprum", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  letter-spacing: 1px;
  font-size: 0.9rem;
  padding: 10px;
  background-color: #040016;
}
/*global form */

.form {
  background-color: white;
  padding: 16px;
  color: black;
  margin: 0 auto;
  text-align: left;
  width: 300px;
  height: 350px;
  border-radius: 8px;
  align-content: center;
  position: relative;
  transition: 1s;
  animation: zoomin 1s ease-in forwards;
  opacity: 0;
}
@keyframes zoomin {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

label {
  display: block;
  padding: 8px;
  position: relative;
}

.form h1 {
  color: #040016;
  text-align: left;
}
.input {
  display: block;
  padding: 16px;
  text-align: left;
  width: 100%;
  background-color: #040016;
  border-radius: 8px;
  position: relative;
  color: white;
}

.form p {
  text-align: center;
  color: black;
  font-size: 0.9em;
  padding-bottom: 20px;
  line-height: 30px;
}

.form:last-child {
  text-align: center;
}
/*payment */

.expiry,
.ccv {
  width: 100%;
}
.expiry-ccv {
  display: flex;
  margin: 15px 0px;
  gap: 10px;
}
.payment p {
  text-align: center;
  padding-bottom: 10px;
  line-height: 10px;
}
.payment img {
  width: 50%;
  padding-bottom: 15px;
}
.rating {
  max-width: 3rem;
}
