/*global styling */

/* color pallet 
#F20746 : red
#540E73 :purple
#D9A407 : dark yellow
#040016 : purple black 
#F25116 : orange 
#090909 : (rgb 9 ,9 ,9, 75%)*/

@font-face {
  font-family: "josefin";
  src: url("../fonts/josefin.ttf") format("truetype");
}
@font-face {
  font-family: "cuprum";
  src: url("../fonts/Cuprum-VariableFont_wght.ttf") format("truetype");
}

html {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
body {
  background-image: url(../images/overlay.jpg);
  background: cover no-repeat;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  gap: 20px;
}
header {
  grid-area: header;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
input {
  font-family: "josefin", Arial, Helvetica, sans-serif;
}

/*global header and footer */
header {
  font-family: "cuprum", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: 100vw;
  color: white;
  letter-spacing: 2px;
  font-size: 0.9em;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex: 1;
}

header :last-child {
  flex: 1 0 auto;
  text-align: right;
  flex-wrap: wrap;
}

#logo {
  padding: 2px;
  max-width: 7em;
  max-height: 3.5em;
  background-color: whitesmoke;
  margin-right: 30px;
}

nav ul {
  display: flex;
  flex: 1;
  padding: 8px;
}

nav li,
nav a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 8px;
}

nav li:hover,
.cta:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in;
}

.cta {
  font-family: "cuprum", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-decoration: none;
  background: #d9a407;
  font-weight: 500;
  border: none;
  border-radius: 32px;
  color: white;
  padding: 8px 12px;
  letter-spacing: 2px;
  font-size: 0.9em;
}

.active {
  background-color: #f20746;
  border-radius: 16px;
  letter-spacing: 2px;
  text-align: center;
}
.active.cta {
  background-color: #f20746;
  color: white;
  letter-spacing: 2px;
  text-align: center;
}
.active:hover {
  cursor: default;
  letter-spacing: 2px;
}

.hamburger {
  position: absolute;
  right: 20px;
  top: 20px;
  display: none;
}

#hamburger-menu {
  display: none;
}
#hamburger-menu:checked ~ nav {
  display: none;
}

footer {
  width: 100vw;
  font-family: "cuprum";
  color: white;
  letter-spacing: 1px;
  font-size: 0.7em;
  padding: 10px;
}
